.card {
  border: 2px solid #afafaf;
  width: 600px;
  height: 380px;
  .image {
    width: 100%;
  }
  .content {
    padding: 30px;
    .title {
      font-weight: bold;
      font-size: 20px;
    }
    .company {
      color: #afafaf;
      margin-top: 15px;
      display: flex;
      align-items: center;
      .name {
        margin-left: 10px;
        display: inline-block;
      }
    }
  }
}
